.container {
    display: flex; 
    justify-content: space-between; 
    gap: 20px; 
}

.container-h1 {
    flex: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

h1,
label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#algoritmo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 700px;
    height: 30px;
    border-radius: 5px;
    height: 40px;
}

#button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aquamarine;
    border: 1vh;
    width: 150px; 
    height: 40px;  
    font-size: 16px; 
    padding: 10px;
    border-radius: 10px;  
}

#valores {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#valor {
    width: 700px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid
}
